/*
* {margin: 0; padding: 0;}
*/

ul div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 600px;
}
 
ul h3 {
  position: top;
  font: bold 20px/1.5 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 
ul li img {
  float: left;
  margin: 0 16px 0 0;
}
 
ul li p {
  font: 200 14px/1.5 OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif
OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-seri;
  color: white;
}
 
ul li {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
  border: 2px solid #5d910b;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 7px rgba(0,0,0,0.7);
}
 
ul li:hover {
  background: #191919;
  cursor: pointer;
}

.fork {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  overflow: hidden;
  border: 2px solid #5d910b;
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 7px rgba(0,0,0,0.7);
}

.downloads{
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.downloads:hover {
  background-color: #223094;
}